h1 {
    font-size: 2.0em;
}

#log-summary {
    font-size: 1.3em;
    padding-top: 35px;
}

#flight_table_wrapper {
    width: 75%;
}

#flight_table {
    padding: 5px;
}

.flight_table_bottom > div {
    padding-left: 10px;
    padding-right: 10px;
    display:inline;
}

th, td{
    padding: 5px;
    text-align: center;
}


/* CSS for flight add/edit form */

fieldset {
    padding:10px;
}

fieldset > legend {
    border-style: solid;
    border-bottom-width:2px;
}

#edit_flight label, #edit_flight input, #edit_flight textarea {
    float:left;
}

label,input[type="submit"]{clear:left}
label{width:150px}